<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.e404.media.module.common.mapper.UserBindMapper">

    <resultMap id="BaseResultMap" type="top.e404.media.module.common.entity.auth.UserBindDo">
        <constructor>
            <idArg name="id" column="id" jdbcType="BIGINT"/>

            <arg name="userId" column="user_id" jdbcType="BIGINT"/>
            <arg name="type" column="type" jdbcType="INT"/>
            <arg name="value" column="value" jdbcType="STRING"/>
            <arg name="checked" column="checked" jdbcType="BOOLEAN"/>

            <arg name="deleted" column="deleted" jdbcType="BOOLEAN"/>
            <arg name="version" column="version" jdbcType="BIGINT"/>
            <arg name="createBy" column="create_by" jdbcType="BIGINT"/>
            <arg name="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <arg name="updateBy" column="update_by" jdbcType="BIGINT"/>
            <arg name="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>

</mapper>
