<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.e404.media.module.media.mapper.MediaTagMapper">
    <select id="listTags">
        SELECT *
        FROM media_tag t
        <if test="key != null">
            WHERE t.id in (SELECT ta.tag_id
            FROM media_tag_alias ta
            WHERE ta.name like CONCAT('%', #{key}, '%')
            )
        </if>
    </select>

    <select id="getByName">
        SELECT * FROM media_tag t where #{name} = any(t.names)
    </select>

    <select id="exists">
        SELECT COUNT(*) > 0
        FROM media_tag t
        where t.names @> ARRAY[
            <foreach collection="names" separator="," item="item">#{item}</foreach>
        ]::VARCHAR[];
    </select>
</mapper>
